<div class="md:container bg-slate-300 p-3">

    <h1 class="font-bold text-3xl p-3">Posts</h1>

    <ul class="divide-y divide-gray-900 divide-dashed">
        
        <% @post.each do |post| %>
            <li class="pb-3">
                <div class="p-3">
                    <h2 class="font-bold"><%= post.article %></h2>
                    <p><%= post.body %></p>
                    <p>Posted by <%= post.user.email %></p>
                    <p>Published <%= post.created_at.strftime("%m/%d/%Y %H:%M") %></p>
                </div>
                <button type="button" 
                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-base leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                    <%= link_to "View Post", post %>
                </button>   
            </li>

        <% end %>

    </ul>

</div>